Standard Assets
Library

/UnityProject/Assembly-CSharp-Editor-vs.csproj
/UnityProject/Assembly-CSharp-Editor.csproj
/UnityProject/Assembly-CSharp-Editor.pidb
/UnityProject/Assembly-CSharp-firstpass-vs.csproj
/UnityProject/Assembly-CSharp-firstpass.csproj
/UnityProject/Assembly-CSharp-firstpass.pidb
/UnityProject/Assembly-CSharp-vs.csproj
/UnityProject/Assembly-CSharp.csproj
/UnityProject/Assembly-CSharp.pidb
/UnityProject/Assembly-UnityScript-Editor-vs.unityproj
/UnityProject/Assembly-UnityScript-Editor.pidb
/UnityProject/Assembly-UnityScript-Editor.unityproj
/UnityProject/Assembly-UnityScript-firstpass-vs.unityproj
/UnityProject/Assembly-UnityScript-firstpass.pidb
/UnityProject/Assembly-UnityScript-firstpass.unityproj
/UnityProject/UnityProject-csharp.sln
/UnityProject/UnityProject.sln
/UnityProject/UnityProject.userprefs
